{{ define "main" }}
<article>
    <div>
        <h1>
            {{ if isset .Params "url" }}
            <a href="{{ .Params.url }}">{{ .Title }}</a>
            {{ else }}
            {{ .Title }}
            {{ end }}
        </h1>
        {{ with .Params.Date }}
        <time>
            {{ dateFormat "Monday 2 January 2006" . }} at {{ dateFormat ":time_short" . }} Pacific Time
        </time>
        {{ end }}
    </div>
    <div data-pagefind-body>
        {{ .Content }}
    </div>
    {{ if ne .Type "page" }}
    {{ if gt .Params.tags 0 }}
    <div>
        {{ range .Params.tags }}
        🏷️ <a href="{{ . | urlize | urls.JoinPath `tags/` | relURL }}">{{ . }}</a>
        {{ end }}
    </div>
    {{ end }}
    <div>
        🕙 <a href="{{ template `partials/history_link.html` . }}" target="_blank" title="Edit history">Edit
            history</a>
    </div>
    {{ end }}
</article>
<script type="module">
    const pagefindHighlightJs = "{{ relURL `/pagefind/pagefind-highlight.js` }}"
    await import(pagefindHighlightJs);
    new PagefindHighlight({ highlightParam: "highlight" });
</script>
{{ end }}