{{ define "main" }}
<article>
    <h1 data-pagefind-body data-pagefind-meta="title">
        {{ if isset .Params "url" }}
        <a href="{{ .Params.url }}">{{ .Title }}</a>
        {{ else }}
        {{ .Title }}
        {{ end }}
    </h1>
    <div class="page-content" data-pagefind-body>
        {{ partial "content.html" . }}
    </div>
    {{ partial "byline.html" . }}
</article>
<script type="module">
    const pagefindHighlightJs = "{{ relURL `/pagefind/pagefind-highlight.js` }}"
    await import(pagefindHighlightJs);
    new PagefindHighlight({ highlightParam: "highlight" });
</script>
{{ end }}