{{ define "main" }}
<article>
    <div>
        <h1><a href="{{ .Params.url }}">{{ .Title }}</a></h1>
        <time>
            {{ dateFormat ":date_full" .Date }} at {{ dateFormat ":time_short" .Date }} Pacific Time
        </time>
    </div>
    <div>
        {{ .Content }}
    </div>
    {{ if ne .Type "page" }}
    {{ if gt .Params.tags 0 }}
    <div>
        {{ range .Params.tags }}
        🏷️ <a href="{{ . | urlize | urls.JoinPath `tags/` | relURL }}">{{ . }}</a>
        {{ end }}
    </div>
    {{ end }}
    <div>
        🕙 <a href="{{ template `partials/history_link.html` . }}" target="_blank" title="Edit history">Edit
            history</a>
    </div>
</article>
{{ end }}
{{ end }}