{{ define "main" }}

{{- $pag := .Paginate .Data.Pages }}

<div class="list-title">
    <h1>
        {{ if eq .Section "mods" }}
        Mod actions by {{ .Data.Term }}
        {{ else if eq .Section "subsites" }}
        Mod actions on {{ .Data.Term | title }}
        {{ else if eq .Section "kinds" }}
        {{ .Data.Term | pluralize }}
        {{ else }}
        Tagged {{ .Data.Term }}
        {{ end }}
    </h1>
    {{ partial "page_counter.html" $pag }}
</div>

{{- range $pag.Pages -}}
{{ partial "item.html" . }}
{{- end -}}

{{- partial "pagination.html" . }}
{{ end }}