{{ define "main" }}
<h1>
    {{ if eq .Type "subsites" }}
    Sites
    {{ else }}
    {{ .Type | title}}
    {{ end }}
</h1>

<ul class="terms terms-{{ .Type }}">
    {{ range $key, $value := .Data.Terms.ByCount }}
    <li>
        <a href="{{ $value.Name | urlize }}/">{{ $value.Name }}</a>
        &middot; {{ $value.Count | lang.FormatNumber 0 }}
    </li>
    {{ end }}
</ul>

{{ $postCount := where .Site.RegularPages "Section" "posts" | len }}
<p class="total-counter">
    <strong>{{ $postCount | lang.FormatNumber 0 }}</strong> total
    mod {{ cond (eq $postCount 1) "action" "actions" }}
</p>
{{ end }}