{{ define "main" }}

{{- $pag := .Paginate .Data.Pages }}

<h1>
    {{ if isset .Data "Term" }}
    Entries in "{{ .Data.Term }}"
    {{ else }}
    All items
    {{ end }}
</h1>

<div class="count">
    {{ $pag.TotalNumberOfElements }} entries
    {{ if gt $pag.TotalPages 1 }}
    &middot; Page {{ $pag.PageNumber }} of {{ $pag.TotalPages }}
    {{ end }}
</div>

<ul class="posts">
    {{- range $pag.Pages -}}
    {{ partial "item.html" . }}
    {{- end -}}
</ul>

{{- partial "pagination.html" . }}
{{ end }}