<div class="byline">
    <div>
        🔗 <a href="{{ .RelPermalink }}" title="Permalink | Pacific Time">
            {{ dateFormat "Jan 2 2006 3:04PM" .Params.Date }}
        </a>
    </div>
    {{ with index (.GetTerms "mods") 0 }}
    <div>
        👮 <a href="{{ .RelPermalink }}" title="Mod" data-pagefind-filter="mod">
            {{ .Name }}
        </a>
    </div>
    {{ end }}
    {{ with index (.GetTerms "subsites") 0 }}
    <div>
        🌎 <a href="{{ .RelPermalink }}" title="Site" data-pagefind-filter="site">
            {{ .Name }}
        </a>
    </div>
    {{ end }}
    {{ with index (.GetTerms "kinds") 0 }}
    <div>
        🔖 <a href="{{ .RelPermalink }}" title="Kind" data-pagefind-filter="kind">
            {{ .Name }}
        </a>
    </div>
    {{ end }}
    {{ with .File }}
    <div>
        {{ $historyLink := printf
        `https://github.com/klipspringr/mefi-mod-log-archive/commits/main/blog/content/posts/%s?author=mefi-activity-automated`
        .LogicalName }}
        🕙 <a href="{{ $historyLink }}" target="_blank" title="History on GitHub">
            History
        </a>
    </div>
    {{ end }}
</div>