<footer>
    <p>
        Made by <a href="https://www.metafilter.com/user/304523">Klipspringer</a>
        &middot; Report issues on <a href="https://github.com/klipspringr/mefi-mod-log-archive">GitHub</a>
        &middot; Not an official MetaFilter product
        &middot; MetaFilter timestamps are Pacific Time.
    </p>
    <p>
        We check for new mod actions every 20 minutes. Checks may be delayed by up to an hour at busy times.
    </p>
    <p>
        MetaFilter's Cloudflare setup sometimes prevents us checking for new mod actions. We're missing some entries
        around 5 to 8 August 2025 because of this.
    </p>
    <p>
        Built at {{ now.UTC | dateFormat "15:04 MST" }} on {{ now.UTC | dateFormat ":date_long" }}.
    </p>
</footer>
<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js'
    data-cf-beacon='{"token": "ad793fedab464af49a4bcaedc9250c0b"}'></script>
<!-- End Cloudflare Web Analytics -->