<footer>
    <p>
        Made by <a href="https://www.metafilter.com/user/304523">Klipspringer</a>
        &middot; Report issues on <a href="https://github.com/klipspringr/mefi-mod-log-archive">GitHub</a>
        &middot; Not an official MetaFilter product
        &middot; Timestamps are Pacific Time.
    </p>
    <p>
        We check for new mod actions every hour or so &middot; Mod actions between 5 and 8 August 2025 are
        missing &middot; Due to a mod log bug, some deleted MetaTalk posts are incorrectly recorded as deletions of the
        MetaFilter post with the same post number.
    </p>
    <p>
        Built at {{ now.UTC | dateFormat ":time_short" }} UTC on {{ now.UTC | dateFormat "2 January 2006" }}.
    </p>
</footer>