<header>
    <div>
        <a href="{{ relURL `` }}" class="home">{{ .Site.Title }}</a>
        <div class="sub">
            An archive of MetaFilter's
            <a href="https://www.metafilter.com/recent-mod-actions.cfm">Recent Mod Actions</a>
            log
        </div>
    </div>
    <nav>
        <a href="{{ relURL `` }}">🏠 Home</a>
        <a href="{{ relURL `tags` }}">🏷️ Tags</a>
        {{ with .OutputFormats.Get "rss" -}}
        <a href="{{ .Permalink }}">📢 RSS</a>
        {{ end -}}
    </nav>
</header>

<div class="warning">
    <strong>August update:</strong> MetaFilter's Cloudflare setup is preventing us checking for new mod actions.
    Until that's resolved, this archive may be out of date and may miss actions.
</div>