<header>
    <div>
        <a href="{{ relURL `` }}" class="home">{{ .Site.Title }}</a>
        <div class="sub">
            An archive of MetaFilter's
            <a href="https://www.metafilter.com/recent-mod-actions.cfm">Recent Mod Actions</a>
            log
        </div>
    </div>
    <nav>
        <a href="{{ relURL `search` }}">🔎 Search</a>
        <a href="{{ relURL `mods` }}">👮 Mods</a>
        <a href="{{ relURL `subsites` }}">🌎 Sites</a>
        <a href="{{ relURL `kinds` }}">🔖 Kinds</a>
    </nav>
</header>