<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="content index">
		{{ partial "head.html" . }}
		<div class="header-about">
			{{ partial "about.html" . }}
		</div>

		{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
		{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
		{{ range $paginator.Pages }}
		<section>
			<h1 class="list-title">
				<div>
					<a href="{{ .Params.URL }}">{{.Title}}</a>
				</div>
				<div>
					<a href="{{ .RelPermalink }}" class="tool" title="Permalink">🔗</a>
					<a href="{{ template `partials/historylink.html` . }}" class="tool" target="_blank"
						title="Edit history">🕙</a>
				</div>
			</h1>
			{{ template "partials/pagedescription.html" . }}
		</section>
		{{ end }}
		{{ template "partials/paginator.html" . }}
		{{ partial "footer.html" . }}
	</div>
</body>

</html>