<head lang="{{ .Site.Language.Lang }}">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }}</title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `
	<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{ $style := resources.Get "css/main.css" | fingerprint }}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ $style.Permalink }}" />
</head>