{{ define "main" }}

{{- $p := slice }}
{{- $section := strings.Trim (site.Params.modules.archive.section) "/" }}
{{- range where site.RegularPages "Section" $section }}
{{- if eq ($.Date.Format "2006-01") (.PublishDate.Format "2006-01") }}
{{- $p = $p | append . }}
{{- end }}
{{- end }}

{{ $pag := .Paginate $p }}

{{ partial "archive/widget.html" }}

<h1>{{- .Title -}}</h1>

{{ partial "page_counter.html" $pag }}

<ul class="posts">
    {{- range $pag.Pages }}
    {{ partial "item.html" . }}
    {{- end -}}
</ul>

{{- partial "pagination.html" . }}

{{ partial "archive/widget.html" }}

{{ end }}