:root {
  --maincl: #185c8d;
  --darkcl: #155484;
  --hicl: #8dc3d7;
  --bgcl: #b1d7e4;
}
html {
  color: #333;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.6em;
}
body {
  display: block;
  margin: 8px;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  background: var(--maincl);
  color: #fff;
}

p {
  line-height: 1.5;
}

a {
  border-bottom: 3px solid var(--hicl);
  color: var(--darkcl);
  text-decoration: none;
}
a:hover {
  background-color: var(--darkcl);
  color: #fff;
}

ul {
  list-style: none;
  padding-left: 3ch;
}
ul li {
  text-indent: -3ch;
}

/* Containers */
.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1ch;
  word-wrap: break-word;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
  line-height: 2.5em;
}

header .main {
  font-size: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.2rem;
  margin-top: 2em;
  color: var(--darkcl);
}
header a {
  font-weight: bold;
}

.meta {
  color: #999;
  letter-spacing: -0.5px;
}

.post-container {
  align-items: flex-start;
  display: flex;
  gap: 20px;
}

.post-content {
  flex: 3;
  min-width: 0;
}

/* Footer */
footer {
  display: grid;
  gap: 0.5rem;
  border-top: 0.4rem dotted var(--darkcl);
  padding: 1rem 0rem;
  margin-top: 2rem;
}

footer a {
  font-weight: bold;
}

/* Common */
time {
  color: grey;
}

/* Posts */
article .title {
  margin-bottom: 1em;
}

ul.tags > li::before {
  content: "🏷️ ";
}
ul.categories > li::before {
  content: "🗓️ ";
}
ul.posts > li::before {
  content: "🪧 ";
}

/* custom */
h1.list-title {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5em;
}

div.postbyline {
  background-color: var(--bgcl);
  color: var(--darkcl);
  font-size: small;
  padding: 0.2rem 0.5rem;
  margin-top: 0.5rem;
  line-height: 1.5rem;
}

div.postbyline > a {
  border-bottom: 2px solid var(--darkcl);
  font-weight: bold;
}
