{{ define "main" }}
<div id="pagefind-search"></div>

<link href="{{ relURL `pagefind/pagefind-ui.css` }}" rel="stylesheet" />
<script src="{{ relURL `pagefind/pagefind-ui.js` }}"></script>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const q = new URLSearchParams(window.location.search).get('q');

        const search = new PagefindUI({
            autofocus: !q,
            element: "#pagefind-search",
            highlightParam: "highlight",
            openFilters: ["kind", "mod", "site"],
            pageSize: 10,
            showEmptyFilters: false,
            showImages: false,
        });

        if (q) {
            search.triggerSearch(q)
        }
    });
</script>
{{ end }}