<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
    <div class="content">
        {{ partial "header.html" . }}
        {{ partial "archive/widget.html" }}

        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
        {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
        {{ range $paginator.Pages }}
        <section>
            <h1 class="post-title">
                <div>
                    <a href="{{ .Params.URL }}">{{.Title}}</a>
                </div>
                <div>
                    <a href="{{ .RelPermalink }}" class="tool" title="Permalink">🔗</a>
                    <a href="{{ template `partials/historylink.html` . }}" class="tool" target="_blank"
                        title="Edit history">🕙</a>
                </div>
            </h1>
            {{ .Content }}
        </section>
        {{ end }}
        {{ template "partials/paginator.html" . }}
        {{ partial "archive/widget.html" }}
        {{ partial "footer.html" . }}
    </div>
</body>

</html>