<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
    <div class="content">
        {{ partial "header.html" . }}
        {{ partial "archive/widget.html" }}

        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
        {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
        {{ range $paginator.Pages }}
        {{- partial "item.html" . }}
        {{ end }}
        {{- partial "pagination.html" . }}
        {{ partial "archive/widget.html" }}
        {{ partial "footer.html" . }}
    </div>
</body>

</html>