<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="content">
		{{ partial "head.html" . }}

		<main class="list">
			{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
			{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
			{{ range $paginator.Pages }}
			<section class="list-item">
				<h1 class="title">
					<a href="{{ .Params.URL }}">{{.Title}}</a>
					<a href="{{ .RelPermalink }}" class="tool" title="Permalink">🔗</a>
					<a href="https://github.com/klipspringr/mefi-mod-log-archive/commits/main/blog/content/posts/{{ .Params.site }}-{{ .Params.hash }}.html?author=mefi-activity-automated"
						class="tool" title="Edit history">🕙</a>
				</h1>
				{{ template "partials/pagedescription.html" . }}
			</section>
			{{ end }}
			{{ template "partials/paginator.html" . }}
		</main>
		{{ partial "footer.html" . }}
	</div>

</body>

</html>