:root {
  --bgcl: #daf0f7;
  --bggraycl: #eee;
  --darkcl: #155484;
  --hicl: #8dc3d7;
}

/* reddit-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Reddit Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/reddit-sans-v6-latin-500.woff2") format("woff2");
}

/* reddit-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Reddit Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/reddit-sans-v6-latin-700.woff2") format("woff2");
}

html {
  color: #333;
  font-family: "Reddit Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6em;
}

body {
  margin: 0.5em;
}

::selection {
  background: var(--darkcl);
  color: #fff;
}

p {
  line-height: 1.6em;
  margin: 0.5em 0 1em 0;
}

a {
  border-bottom: 3px solid var(--hicl);
  color: var(--darkcl);
  text-decoration: none;
}

a:hover {
  background-color: var(--darkcl);
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 120%;
  margin: 0;
  color: var(--darkcl);
}

/* Containers */
.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 0.4em;
  word-wrap: break-word;
}

section {
  margin: 2em 0;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
  gap: 0.5em 0;
}

header a {
  font-weight: bold;
}

header a.site-title {
  font-size: 150%;
}

header div.subhead {
  font-size: 85%;
  color: #999;
  margin-top: 0.5em;
}

header nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}

header nav a {
  padding: 0.25em 0.5em;
  background-color: var(--bgcl);
}

/* Footer */
hr.divider {
  margin-top: 2em;
  border: none;
  border-top: 0.4em dotted var(--bgcl);
}

footer {
  font-size: 85%;
  color: #999;
}

footer a {
  font-weight: bold;
}

div.feed-link {
  background-color: var(--bgcl);
  margin: 1em 0;
  padding: 0.5em 1em;
}

div.feed-link a {
  font-weight: bold;
}

/* Archive widget */
div.archive-widget-wrapper {
  overflow-x: auto;
}

table.archive-widget {
  background-color: var(--darkcl);
  padding: 0.5em 1em;
  margin: 1em 0;
  width: 100%;
  color: var(--hicl);
  font-size: 80%;
}

table.archive-widget a {
  color: #fff;
  font-weight: bold;
}

/* Paginator */
ul.pagination {
  list-style: none;
  background-color: var(--bggraycl);
  padding: 0.5em 1em;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  font-weight: bold;
}

ul.pagination a {
  padding: 0 0.2em;
}

ul.pagination li.disabled a,
ul.pagination li.active a {
  color: #999;
  cursor: default;
  border: none;
}

ul.pagination li.disabled a:hover,
ul.pagination li.active a:hover {
  background: none;
}

/* Titles and counters */
.archive-title,
.list-title {
  background-color: var(--bggraycl);
  padding: 0.5em 1em;
}

.page-counter,
.total-counter {
  color: #666;
  font-size: 90%;
}

/* Posts */
h1.post-title {
  margin-bottom: 0.5em;
}

article {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

div.byline {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bgcl);
  margin-top: 0.5em;
  padding: 0.35em 0.5em;
  gap: 0.2em 0.5em;
  font-size: 90%;
  cursor: default;
}

div.byline > div {
  white-space: nowrap;
}

/* defensively, hide Mefi byline (also stripped in Hugo) */
.smallcopy,
.postbyline {
  display: none !important;
}

/* Terms */
ul.terms > li {
  padding-left: 0.5em;
}

ul.terms-kinds {
  list-style: "🔖";
}

ul.terms-subsites {
  list-style: "🌎";
}

ul.terms-mods {
  list-style: "👮";
}
