name: Check recent mod actions

on:
  workflow_dispatch:
  schedule:
    - cron: "*/20 * * * *" # every 20 minutes is optimistic

permissions:
  contents: write

concurrency:
  group: "check"
  cancel-in-progress: false

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.MLA_ACCESS_TOKEN }}

      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - run: pip install -r requirements.txt

      - name: Check recent mod actions
        run: python check.py

      - name: Push any update
        run: |
          git config --global user.name 'mefi-activity-automated'
          git config --global user.email 'mefi-activity-automated'
          git add blog/content/posts
          if ! git diff-index --quiet HEAD; then
            git commit -m "Recent mod actions updated"
            git push
          fi
