name: Ping MetaFilter from GitHub

on:
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: "ping"
  cancel-in-progress: false

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - run: pip install -r requirements.txt

      - name: Ping MetaFilter
        run: python ping.py
