name: Ping MetaFilter from GitHub

on:
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: "ping"
  cancel-in-progress: false

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"
          pip-install: -r requirements_check.txt

      - name: Ping MetaFilter
        run: python ping.py
