name: Ping MetaFilter from GitHub

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  ping:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"
          cache-dependency-path: "check/requirements.txt"

      - run: pip install -r check/requirements.txt

      - run: python check/ping.py
